{% load get_dropdown %}
<style>
    .q-nav > ul {
        display: flex;
    }
    .q-nav > ul > li {
        position: relative;
        list-style-type: none;
        cursor: pointer;
    }
    .q-nav > ul > li > a {
        padding: .3rem 1rem;
        min-width: 100px;
    }
    .q-dropdown {
        /* position: absolute; */
        top: 2rem;
        padding: 0;
        list-style-type: none;
        cursor: pointer;
        /* display: none; */
        background-color: rgb(247, 247, 247);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .q-dropdown > li {
        padding: .4rem 1rem;
        list-style-type: none;
        cursor: pointer;
    }
    .q-dropdown > li:hover {
        background-color: rgb(236, 236, 236);
    }
    .show {
        display: block;
    }
    .active {
        background-color: cadetblue;
        color: #fff;
    }

</style>

<div class="q-nav">
    <ul>
        {% with items=menu.items.all %}
            {% for item in items %}
                {% if item.items.all %}
                    <li><p >{{ item.title }}</p>{% draw_dropdown_in item %}</li>
                {% else %}
                    <li><a href="/{{ item.get_url }}/" class="{% active_item_menu item.get_url %}">{{ item.title }}</a> </li>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </ul>
</div>


